@media (min-width: 768px) and (max-width: 1199px) {
  .container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__column {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .footer-form {
    align-self: center;
  }

  .footer-address__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .footer-social__title,
  .footer-form__title {
    text-align: center;
  }

  .footer-address {
    text-align: center;
  }
}
