@media (min-width: 481px) {
  .hero {
    width: 100%;
    min-height: 400px;
    padding: 118px 0px;
    margin: 0 auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../img/bg/header_t-min.jpg');
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url('../img/bg/header_t@2x-min.jpg');
    }
  }

  .hero__title {
    @include fontStyle(900, 26px, 42px, 0.06em, uppercase);

    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
