.card-set {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card-set__item {
  @media (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
