// .footer-form {
//   margin-left: 93px;
//   margin-top: 12px;
// }

.footer-form__input {
  // width: 358px;
  height: 50px;
  // margin-right: 12px;

  padding: 15px 16px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  color: rgba(255, 255, 255, 0.6);

  &::placeholder {
    @include fontStyle(400, 16px, 20px, 0.03em);

    color: rgba(255, 255, 255, 0.6);
  }
}
