.site-contacts {
  @extend %lists;
  // display: flex;
}

// .site-contacts__item {
//   margin-right: 30px;
// }

.site-contacts__link {
  @include fontStyle(500, 14px, 16px, 0.02em);
  text-decoration: none;

  // @include centeredFlex(inline-flex);

  // padding: 32px 0px 32px 0px;

  color: $primary-text-color;

  transition: fill 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.site-contacts__icon,
.site-contacts__icon--table {
  margin-right: 10px;
  fill: currentColor;
}
