.social-block {
  @extend %lists;
  @include centeredFlex();
}

.social-block__link {
  @include centeredFlex();
  fill: $white-color;
  background-color: rgba(255, 255, 255, 0.1);

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: fill 250ms $timing-function, background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-color;
  }
}

.social-block__link--inversed {
  background-color: transparent;
  fill: $icon-primary-color;
}

.social-block__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
