@font-face {
  font-family: 'Roboto';
  src: url('../sass/base/fonts/Roboto-Bold.woff2') format('woff2'),
    url('../sass/base/fonts/Roboto-Bold.woff') format('woff');
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../sass/base/fonts/Roboto-Black.woff2') format('woff2'),
    url('../sass/base/fonts/Roboto-Black.woff') format('woff');
  font-display: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../sass/base/fonts/Roboto-Medium.woff2') format('woff2'),
    url('../sass/base/fonts/Roboto-Medium.woff') format('woff');
  font-display: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../sass/base/fonts/Roboto-Regular.woff2') format('woff2'),
    url('../sass/base/fonts/Roboto-Regular.woff') format('woff');
  font-display: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../sass/base/fonts/Raleway-Bold.woff2') format('woff2'),
    url('../sass/base/fonts/Raleway-Bold.woff') format('woff');
  font-display: auto;
  font-weight: 700;
  font-style: normal;
}
