body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  background-color: $white-color;
  color: $primary-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
