.clients-cards {
  @media screen and(min-width:1200px) {
    display: flex;
    flex-wrap: wrap;

    @include negativeMargin();
  }
}

.clients-cards__item {
  @media (min-width: 1200px) {
    @include alingCards(6, 30px);
  }
}

.clients-cards__link {
  @media (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}
