@media screen and (min-width: 1200px) {
  .footer {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container-row {
    display: flex;
    justify-content: space-between;
  }

  .footer-social {
    margin-top: 12px;
    margin-left: 70px;
  }

  .footer-form {
    margin-left: 93px;
    margin-top: 12px;
  }

  .footer-form__column {
    display: inline-flex;
  }
}
