@media screen and(min-width:1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;

    @include negativeMargin();
  }

  .card-set__item {
    display: flex;
    @include alingCards(3, 30px);
  }

  .product {
    display: flex;
    flex-direction: column;
    align-content: stretch;
  }

  .product__meta {
    flex-grow: 1;
  }
}
