.section {
  @media (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// .section--utility {
//   @media (min-width: 1200px) {
//     display: none;
//   }
// }

.section--inverse {
  @media (min-width: 1200px) {
    width: 100%;
  }
}
