.footer {
  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-social__title,
.footer-form__title {
  @media (max-width: 767px) {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-address__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.footer-address {
  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }
}
