.backdrop__modal {
  @media screen and(max-width:767px) {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: calc(100% - 30px);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;
  }
}
