@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    padding: 118px 0px;
    margin: 0 auto;
  }

  .hero__title {
    @include fontStyle(900, 26px, 42px, 0.06em, uppercase);

    text-align: center;
    max-width: 360px;
  }
}
